body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 400px) 1fr;
    grid-template-rows: 61px auto auto auto;
    grid-gap: 12px;
    grid-template-areas: '. header .' '. aside .' '. main .' '. footer .';
    font-family: 'ABeeZee', sans-serif;
}

@media (min-width:768px) {
    body {
        display: grid;
        grid-template-columns: 5% minmax(auto, 400px) minmax(auto, 400px) 1fr;
        grid-template-rows: 117px auto auto;
        grid-gap: 12px;
        grid-template-areas: '. header header .' '. main aside .' '. footer footer .';
        font-family: 'ABeeZee', sans-serif;
    }
}

@media (min-width:1200px) {
    body {
        display: grid;
        grid-template-columns: 5% minmax(auto, 400px) minmax(auto, 400px) 1fr;
        grid-template-rows: 117px auto auto;
        grid-gap: 12px;
        grid-template-areas: '. header header .' '. main aside .' '. footer footer .';
        font-family: 'ABeeZee', sans-serif;
    }
}

header {
    grid-area: header;
    background-color: #d6acac;
}

main {
    grid-area: main;
    background-color: #f3f1bd;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #d6dcd2;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #c8abdc;
}

table#voc-table {
    grid-area: input;
    display: table;
}

caption {
    opacity: 0.3;
    padding-bottom: 5px;
    text-align: left;
}

button {
    margin-bottom: 10px;
    width: fit-content;
}

input {
    margin-bottom: 10px;
    width: fit-content;
}

table {
    text-align: left;
    width: min-content;
}

th,
td {
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(57, 46, 46, 0.27);
}

.shadow {
    box-shadow: 3px 3px 4px -2px;
}

header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    border-width: 0px;
    border-style: solid;
}

output {
    font-style: italic;
    color: #b46868;
    margin-bottom: 20px;
    display: none;
}